<!DOCTYPE html>
<html lang="zh_cn">
  <head>
    <meta charset="utf-8">
    <title>扇贝背单词-Demo,扇贝网，英语听说读写和词汇，我们都能帮到你 扇贝英语</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link rel="icon" href="img/logo.png" type="image/x-icon">
    <meta name="keywords" content="英语 托福 GRE 考研 雅思 IELTS TOEFL SAT VOA BBC Quora 单词 听力 阅读 写作 口语 翻译 17bdc 背单词 单词量 单词量测试 单词 英语单词 背单词软件 英语学习网站"/>
    <meta name="description" content="词汇：智能安排词汇复习和高效记忆法让你彻底摆脱边背边忘；阅读：在真实阅读环境里激活词汇，即点即查；听力：逐句播放加听写，练到听懂为止；写作：从易到难，从短语到句型，想些什么就写什么；口语：5000多英美配音的典型例句，一句一句训练你，三个月脱口而出" />
  </head>
  <body>
    <app></app>
    <script src="static/js/store+json2.min.js"></script>
    <script src="static/js/build.js"></script>
  </body>
</html>